.map rect.green {
    fill: #1f6618 !important; 
}
.map{
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
} 
.map svg{
    position: relative;
}
.map rect{
    fill: #999999;
    cursor: pointer;
}
.map-item{
    position: absolute;
    cursor: pointer;
}
.map-name{
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: black;
}
.map-popup{
    display: none;
    border: 1px solid black;
    padding: 10px;
    width: 50px;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    z-index: 9999;
    text-align: left;
    background: azure;
    filter: drop-shadow(0px 0px 4px black);
    border-radius: 5px;
    top: -45px;
    color: #060606;
}
.map rect:hover, #hover {
    fill: #bebebe !important;
}
.map rect.active {
    fill: #dadada !important;
}
.navpan{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: #1e1e1e;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 17px;
}
.navpan-item{
    display: inline-block;
    background: #1e1e1e;
    color: white;
    padding: 5px;
    text-decoration: none;
    /* border-radius: 5px; */
    /* font-size: 15px; */
}
.navpan a:hover{
    color:white;
}
.navpan-item:hover{
    
    background: #313131;
}
.right{
    margin-left: auto;
}
body{
    background-color: #060606;
    margin: 0;
}
.main-container{
    position: relative;
    width: 95%;
    background: #080808;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #313131;
    color: white;
}
.main-login{
    background: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #313131;
    margin: auto;
    position: absolute;
    height: fit-content;
    padding: 10px;
    width: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h3{
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: orange solid 2px;
    width: fit-content;

}
body{
    font-family: 'Rubik', sans-serif;
}
input{
    font-family: 'Rubik', sans-serif;
    height: 30px;
    
}
.submit-fields{
    height: 13px;
}
ul{
    list-style-type: none;
}
.main-table{
    color: white;
}

td{
    padding-right: 30px;
}
button{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
.custom-button{
    background: #2d5e2d;
    border-color: white;
    color: white;
    border: none;
    border-width: 1px;
    font-weight: 500;
    height: 30px;
    width: 100px;
    border-radius: 30px;
}
select{
    height: 30px;
}
.map-holder{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: fit-content;
}
