{% extends "base.html" %}

        {% block content %}
        <main class="">
            <div class="main-container fit-cont" style="padding: 10px;">
                <h3>Конфигурация системы</h3>
                <!-- <form action="" method="post" novalidate> -->
                    
                    <div class="container pad_med">
                        <table id="boxes" class="main-table full-width">
                            <tr>
                                <td>Активен</td>
                                <td>Уведомления</td>
                                <td>ID</td>
                                <td>Шкаф</td>
                                <td>Адрес</td>
                                <td>Заменить на</td>
                                
                            </tr>
                            {% for dev in devices %}
                            <tr>
                                <td><input id='box_active{{ dev.id }}' type="checkbox" 
                                    {% if dev.box_active == 1 %} 
                                        checked 
                                    {% else %}  
                                        ' '
                                    {% endif %}
                                </td>
                                <td><input id='alert_active{{ dev.id }}' type="checkbox" 
                                    {% if dev.alert_active == 1 %} 
                                        checked 
                                    {% else %}  
                                        ' '
                                    {% endif %}
                                </td>
                                <td>{{ dev.id }}</td>
                                <td>{{ dev.name }}</td>
                                <td>{{ dev.address }}</td>
                                <td>
                                    <select id="address_field{{ dev.id }}" name="address_field">
                                        {% for el in dev_list %}
                                            <option value="{{ el }}">{{ el }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </table>
                        <!-- <input id="save" class="custom-button" type="button" value="Сохранить"/> -->
                    </div>
                    <h3>Коррекция параметров</h3>
                    <div class="container pad_med">
                        <table id="corrections" class="main-table">
                            <tr>
                                <td>ID</td>
                                <td>Адрес</td>
                                <td>Коррекция, °C</td>
                                <td>Коррекция, %</td>
                                
                            </tr>

                            {% for dev in dev_addr %}
                            <tr>
                                <td>{{ dev.id }}</td>
                                <td>{{ dev.address }}</td>
                                <td>
                                    <input class="input" type="text" id="cor_t_field{{ dev.id }}" name="temp_field" value="{{dev.correct_t}}">
                                </td>
                                <td>
                                    <input class="input" type="text" id="cor_h_field{{ dev.id }}" name="hum_field" value="{{dev.correct_h}}">
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </table>
                        
                    </div>
                    <input id="save" class="custom-button" type="button" value="Сохранить"/>

                <!-- </form> -->
            </div>
        </main>
        <script 
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>
        <script  src="static/js/config.js"></script> 
        {% endblock %}