
<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">

        <title>Dashboard</title>
        

        <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.umd.js"></script>
        <script type = "module" src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    </head>
    <body>
        
        
        <canvas id="myChart" width="600px" height="300px"></canvas>
        <script type="module" src="/static/board.js"></script> 
        
    </body>
</html>