<html>
    <head>
        <title>General</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        
    </head>
    <body>
        <nav class="navpan">
            <a class="navpan-item" href="/">
                <img src="/static/images/cropped-logo_bnk-03-1-small.webp">
            </a>
            <a class="navpan-item" href="/">Главная</a>
            <a class="navpan-item" href="/dashboard">Мониторинг</a>
            <a class="navpan-item right" href="/logout">Выход</a>
        </nav>
        <main class="">
            <div class="main-container" style="padding: 10;">
                <h3>Управление записями</h3>
                <form action="/logs/create">
                    <button class="custom-button">Создать</button>
                </form>
                <div class="container">
                    <table class="main-table">
                        <tr>
                            <td>№</td>
                            <td>Имя</td>
                            <td>Время</td>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                        </tr>
                        {% for l in log %}
                        <tr>

                            <td>{{ l.id }}</td>
                            <td>{{ l.name }}</td>
                            <td>{{ l.date }}</td>
                            <td> <a href="{{ l.path }}" style="color:lawngreen">Загрузить</a> </td>
                            <td> <a href="/delete/{{ l.path }}" style="color:red">Удалить</a> </td>
                        </tr>
                        {% endfor %}
                        
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>
